<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Page</title>
</head>
<body>
    <h1>Welcome to Favorites</h1>
    <%data.forEach(obj => {%>
        <div class="card">
            <h2 class="name"><%= obj.name%></h2>
            <img src="<%= obj.img%>" alt="Digimon Image">
            <h4 class="level"><%= obj.level%></h4>
            <form action="/details/<%= obj.id%>" method="get">
                <input type="text" name="name" value="<%= obj.name%>">
                <input type="text" name="img" value="<%= obj.img%>">
                <input type="text" name="level" value="<%= obj.level%>">
                <input type="submit" value="Show Details">
            </form>
</body>
</html>